<div class="container1">
  <div class="row1">

    <div class="top--container">
      <div class="top">
        <h1><%= link_to "X", cocktails_path %></h1>
        <%= cl_image_tag @cocktail.photo.key, height: 500, width: 400, crop: :fill, class: "card-img-top rounded img-fluid" %>
        <br>
        <br>
        <h2 class="text-center"><%= @cocktail.name %></h2>
        <p class="text-center top--text"><% @cocktail.doses.each do |dose| %>
    <ul>
      <% ingredient = Ingredient.find(dose.ingredient_id) %>
      <li><%= dose.description %> - <%= ingredient.name %> (<%= link_to "delete", cocktail_dose_path(dose.cocktail_id, dose.id),  method: :delete %>)</li>
    </ul>
  <% end %>
      </div>
    </div>

    <div class="bottom--container">
      <div class="bottom">

        <button class="btn btn-success btn-lg btn-fab">
          <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id) %> &rarr;
        </button>
      </div>
    </div>

  </div>

</div>



